  .form-group {
      position: relative;
  }

  .form-group .form-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      height: 100%;
      margin-top: -13px;
  }


  .login-content input[type="text"],
  .login-content input[type="email"],
  .login-content input[type="password"] {
      width: 100%;
      box-sizing: border-box;
      border: none;
      font-size: 15px;
      min-height: 45px;
      background-color: #241728;
      color: #FFF;
      padding-left: 50px;
      border-bottom: 1px solid #4a3450;
      background-repeat: no-repeat;
  }