.container {
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.nav-tabs {

    padding-bottom: 20px;
}

.nav-tabs>li>a {
    text-align: center;
    border: none !important;
    border-radius: 0;
    background-color: #FFF;
    color: #000;
    padding: 0 0 5px 0;
}

.nav-tabs>li>a span {
    display: block;
    line-height: 100%;
}

.nav-tabs>li>a span.day {
    padding: 5px 15px;
}

.nav-tabs>li>a span.date {
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:active,
.nav-tabs>li>a:focus {
    border-radius: 0;
    color: #000;
}

.nav-tabs>li.active>a span.day,
.nav-tabs>li>a:hover span.day,
.nav-tabs>li>a:focus span.day {
    background-color: #eb1689;
    color: #FFF;
}

.showtimes a {
    display: inline-block;
    margin-bottom: 5px;
}

.showtimes a.disabled {
    cursor: not-allowed !important;
    background: #28183a;
}

#movies .movie-item .movie-detail {
    height: auto !important;
    min-height: 170px;
}



.showtimes h4.showtime-type {
    color: #FFF;
    font-size: 17px;
    text-transform: uppercase;
}

.bootbox .modal-content {
    border-radius: 0;
    color: #333;
    font-size: 18px;
}

.bootbox .modal-content .modal-body {
    padding-bottom: 0;
}

.bootbox .modal-content .modal-body .bootbox-body {
    padding-top: 20px;
}

.bootbox .modal-content .modal-footer {
    margin-top: 15px;
    padding: 10px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.bootbox .modal-content .modal-footer .btn-primary {
    background-color: #b1325b;
    border-color: #c11e97;
    border-radius: 0;
}

.bootbox .modal-content .modal-footer .btn-primary:hover,
.bootbox .modal-content .modal-footer .btn-primary:active,
.bootbox .modal-content .modal-footer .btn-primary:focus {
    background-color: #9c0f3c;
    border-color: #9c0f3c;
}

a.showdate {
    display: block;
    background: #e83a93;
    padding: 5px 15px;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.age {
    position: absolute;
    background-color: #f29438;
    color: #fff;
    padding: 5px;
    top: -5px;
    left: 5px;
    box-shadow: -1px 3px 4px rgba(53, 53, 53, 0.9);
    font-weight: bold;
    width: 36px;
    text-align: center;
}