.seatnote {
    padding: 20px 0;
    text-align: left;
}

.seatnote span {
    width: 10px;
    padding: 3px 10px;
    border: 1px solid #f29438;
    margin-right: 5px;
}

.seatnote span.book {
    background-color: #ccc
}

.seatnote span.selected {
    background-color: #f29438;
}

.seatnote span.booking {
    background-color: #e43a91;
}